.header-greeting{
    padding: .5rem 0;
    text-align: center;
    background-color: rgb(201, 105, 105);
}

.header-text{
    margin: 0;
    font-family: 'Aguafina Script', cursive;
    font-size: 1.5rem;
    color: darkslategrey;
    text-shadow: 2px 2px 5px white;
}

.header-portybox{
    color: darkslategrey;
    text-decoration: none;
}
.header-portybox:hover{
    text-decoration: none;
    color: white;
}

.product-body{
    background-color: #FFFFB5;
}