.header-greeting{
    padding: .5rem 0;
    text-align: center;
    background-color: #FEA698;
}

.header-text{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #019097;
    text-shadow: 2px 2px 5px white;
}


.product-body{
    background-color: #FFFFB5;
}