.header-detalle{
    padding: 1rem 0 .5rem 0;
    text-align: center;
    background-color: #FEA698;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #223835 ;
    text-shadow: 2px 2px 5px white;
}

.return-button{
    margin: 1rem;
    background-color: #019097;
    border: #019097;
}

.item-body{
    background-color: #7BC7AD;
}

.item-wrapper{
    margin-left: 1rem;
    margin-right: 1rem;
}