.home-body{
    background-color: #FEA698;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home-card{
    border-radius: 15px;
    border: 2px solid #77554f;
    margin-top: 2.5rem;
}

.home-card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.home-card-text{
    font-family: 'Roboto', sans-serif;
}

.home-link{
    color: white;
    text-decoration:none;
}
.home-link:hover{
    color: white;
    text-decoration:none;
}